
/* nav section responsive */
/* for mobile and small device */
@media screen and (max-width:576px){
    .nav-container, .nav-item-container  {
        flex-direction: column;
    }  
    .fa-brands{
        padding-right: 5px;
    } 

 
    .banner-container{
        flex-direction: column;
  
    }
    .banner-content{
     width: 400px;
     margin-bottom: 10px;
    }
    .game-image-container, .play-container{
        flex-direction: column;
      }
      .play-image-container .images{
        margin-left: 0px;
      }
      .play-container{
        margin: 5px;
      }
      /* .footer-container{
        max-width:  70;
      } */

      .footer-option, .footer-option2{
        flex-direction: column;
        align-items: center;
      }
      
       

}


