body {
    font-family: 'Work Sans', sans-serif;
}

/* nav section styles starts here */
.nav-container {
    display: flex;
    justify-content: space-between;
    min-height: 86px;
    background-color: antiquewhite;
    align-items: center;
}

.logo-container {
    display: flex;
    align-items: center;
    width: 50%;
    padding-left: 20px;
}

.logo-container img {
    height: 40px;
    margin-right: 10px;

}

.logo-container p {
    color: #FF42A5;
    font-size: 45px;
    height: 50px;
    font-weight: 700;
}

.span {
    color: #0B0223;
    font-size: 45px;
    font-weight: 700;
}

.nav-item-container {

    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: space-between;
}

.nav-item-container a {
    text-decoration: none;
    color: #3C354F;
    text-align: center;
    font-size: 18px;
    gap: 56px;

}

.fa-brands {
    color: #F61C0D;
    margin-right: 10px;
    margin-left: 10px;

}

/* nav section style ends here */
.banner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.banner-content {
    align-items: center;
    justify-content: center;
    width: 500px;
}

.banner-img {
    background: #FFF;

}

.banner-img img {
    width: 100%;
}

.banner-content h2 {
    color: #0B0223;
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0;
}

.banner-content h1 {
    background-image: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 95px;
    font-weight: 800;
    margin-top: 0;
    margin-bottom: 20px;

}

.banner-content p {
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    margin: 15px;
}

.banner-container .banner-content .btn-primary {
    border-radius: 48px;
    background-color: #FF42A5;
    padding: 21px 40px;
    border: none;
}

.banner-content .btn-secondary {
    border-radius: 48px;
    background: #4EC5F7;
    padding: 21px 40px;
    border: none;
}


/* game container section starts here */
.game-container {
    margin-top: 50px;
    margin-bottom: 50px;
}


.game-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-left: 200px;
    margin-right: 10px; */
    gap: 20px;

}

.span-2 {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 10px;
}

.game-content-container h2 {
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
}

.game-content-container p {
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    margin-top: 15px;
    text-align: center;
}

/* play section styles starts */
.play-container {
    margin-top: 50px;
    border: 5px solid blueviolet;
    }


.play-content-container {
    width: 500px;
}

.play-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 0px;
    gap: 0px;
}

.play-content-container {
    text-align: center;
}

.play-content-container h2 {
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 0px;
}

.play-content-container p {
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    margin-top: 10px;
}

.play-image-container .my-talking {
    width: 300px;
    position: relative;
    bottom: 250px;

}

.play-image-container .images {
    /* height: 100%; */
    margin-left: 150px;
}

/* game-banner section starts here */

.game-banner{
    margin-top: 0px;
    border: 5px solid red;
    
}

.game {
    display: flex;
    gap: 10px;
    align-items: center;
    color: #0B0223;
    font-size: 20px;
    font-weight: 600;
    }

    .game-banner-row1{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-bottom: 20px;
    }
    
    .game-banner-row2{
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 50px;
    }




/* footer section starts */
.footer-container {
    background-color: #0B0223;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    gap: 10px;
    margin-bottom: 20px;
    padding-top: 40px;
}

.logo p {
    color: #FF42A5;
    font-size: 45px;
    height: 50px;
    font-weight: 700;

}

.span-3 {
    color: white;
    font-size: 45px;
    font-weight: 700;
}

.footer-option {
    display: flex;
    justify-content: space-around;
    width: 700px;
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    margin: 20px auto;
}

.icon-container {
    text-align: center;
    margin-bottom: 20px;
}

.footer-option2 {
    color: rgba(255, 255, 255, 0.60);
    display: flex;
    justify-content: space-around;
    width: 700px;
    margin: 0 auto;
}

